.groups-category{
    margin-top: 130px;
  }
  
  .groups-category .groups-wrapper{
    display: flex;
    column-gap: 7rem;
    row-gap: 1.75rem;
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    .groups-category .groups-wrapper{
        flex-direction: row;
    }
  }
  
  @media (min-width: 768px) {
    .groups-category .category-wrap{
        width: 35%;
    }
  }
  
  @media (min-width: 1024px) {
    .groups-category .category-wrap{
        width: 25%;
    }
  }
  
  .groups-category .groups-content{
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .groups-category .groups-content{
        width: 60%;
    }
  }
  
  @media (min-width: 1024px) {
    .groups-category .groups-content{
        width: 70%;
    }
  }
  
  @media (min-width: 1280px) {
    .groups-category .groups-content{
        width: 78%;
    }
  }
  
  .groups-category .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  
  @media (min-width: 768px) {
    .groups-category .title{
        margin-bottom: 3rem/* 48px */;
    }
  }
  
  @media (min-width: 1024px) {
    .groups-category .title{
        font-size: 32px;
    }
  }
  
  @media (min-width: 768px) {
    .groups-category .title{
        font-size: 28px;
    }
  }
  
  .groups-category .box{
    margin-bottom: 5rem
  }
  
  .groups-category .box-title{
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 1.75rem;
  }
  
  @media (min-width: 1024px) {
    .groups-category .box-title{
        font-size: 30px;
    }
  }
  
  .groups-category .watchAll{
    font-size: 18px;
    color:#18A0FB;
    text-align: left;
    margin-bottom: 0.75rem;
    display: block;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .groups-category .boxes-wrapper{
    display: grid;
    gap: 2.5rem;
  }
  
  @media (min-width: 640px) {
    .groups-category .boxes-wrapper{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 768px) {
    .groups-category .boxes-wrapper{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 1024px) {
    .groups-category .boxes-wrapper{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 1280px) {
    .groups-category .boxes-wrapper{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }